#auth{
    float:right;
}

.valid{
    color: green;
}

.invalid{
    color: red;
}

#footer{
    clear: both;
    margin:auto;
    text-align: center;
}

#sidebar{
    clear: both;
    float:left;
    padding-bottom: 10px;
    padding-right: 10px;
    width:10%
}

#main{
    float:left;
    border-left:1px solid;
    padding-left:10px;
    padding-bottom: 10px;
}

#pages{
    list-style-type: none;
    padding: 0px;
}

#pages li{
        padding-bottom: 10px;
}

.trans_link{
    text-decoration: none;
    color: black;
    cursor: default;
}